@charset "UTF-8";

body {
	background-color: beige;
	font-family: serif;
}

h1 {
	color: maroon;
	border-bottom: 1px solid gray;
	font-size: 1.5em;
}

h2 {
	font-family: sans-serif;
}

span {
	color: #CA6F1E;
	font-size: 1.5em;
}